.card {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .card-title {
    margin: 0;
    color: #333;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .require{
    color: rgb(252, 52, 52);
  }